@media only screen and (max-width: 1200px) {
  .SearchContainer {
    /* background: red !important; */
    width: 25rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .SearchContainer {
    /* background: blue !important; */
    width: 20rem !important;
  }
  .CitySelector{
    width: 5em !important;
  }
}

@media only screen and (max-width: 670px) {
  .SearchContainer {
    /* background: green !important; */
    width: 18rem !important;
  }
  .CitySelector{
    width: 5em !important;
  }
}
